Web_SmartBuy/Web_SmartBuy/Connected Services/Service_Factura/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58845/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Factura.Models" />
  <xs:element name="AgregarItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Factura.Models" minOccurs="0" name="Item" nillable="true" type="q1:WishList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Factura.Models" minOccurs="0" name="ConsultarListaResult" nillable="true" type="q2:ArrayOfWishList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>