Web_SmartBuy/Web_SmartBuy/Connected Services/Service_Factura/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Factura.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Factura.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WishList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CANTIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PRODUCTO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_WISH" type="xs:int" />
      <xs:element minOccurs="0" name="MARCA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRECIO" type="xs:decimal" />
      <xs:element minOccurs="0" name="TOTAL" type="xs:decimal" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WishList" nillable="true" type="tns:WishList" />
  <xs:complexType name="ArrayOfWishList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WishList" nillable="true" type="tns:WishList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWishList" nillable="true" type="tns:ArrayOfWishList" />
</xs:schema>