Web_SmartBuy/Web_SmartBuy/Connected Services/Service_Product/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56464/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56464/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56464/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Productos" />
      <xsd:import schemaLocation="http://localhost:56464/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Productos.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMetodos_NuevoProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevoProducto" />
  </wsdl:message>
  <wsdl:message name="IMetodos_NuevoProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="IMetodos_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_BuscarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProducto" />
  </wsdl:message>
  <wsdl:message name="IMetodos_BuscarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_ProductosMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductosMarca" />
  </wsdl:message>
  <wsdl:message name="IMetodos_ProductosMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_ProductosCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductosCategoria" />
  </wsdl:message>
  <wsdl:message name="IMetodos_ProductosCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_Marcas_InputMessage">
    <wsdl:part name="parameters" element="tns:Marcas" />
  </wsdl:message>
  <wsdl:message name="IMetodos_Marcas_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarcasResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_BusquedaId_InputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaId" />
  </wsdl:message>
  <wsdl:message name="IMetodos_BusquedaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IMetodos">
    <wsdl:operation name="NuevoProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/NuevoProducto" message="tns:IMetodos_NuevoProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/NuevoProductoResponse" message="tns:IMetodos_NuevoProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/Modificar" message="tns:IMetodos_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/ModificarResponse" message="tns:IMetodos_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/BuscarProducto" message="tns:IMetodos_BuscarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/BuscarProductoResponse" message="tns:IMetodos_BuscarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductosMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/ProductosMarca" message="tns:IMetodos_ProductosMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/ProductosMarcaResponse" message="tns:IMetodos_ProductosMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductosCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/ProductosCategoria" message="tns:IMetodos_ProductosCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/ProductosCategoriaResponse" message="tns:IMetodos_ProductosCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Marcas">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/Marcas" message="tns:IMetodos_Marcas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/MarcasResponse" message="tns:IMetodos_Marcas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/BusquedaId" message="tns:IMetodos_BusquedaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/BusquedaIdResponse" message="tns:IMetodos_BusquedaId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMetodos" type="tns:IMetodos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevoProducto">
      <soap:operation soapAction="http://tempuri.org/IMetodos/NuevoProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/IMetodos/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://tempuri.org/IMetodos/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductosMarca">
      <soap:operation soapAction="http://tempuri.org/IMetodos/ProductosMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductosCategoria">
      <soap:operation soapAction="http://tempuri.org/IMetodos/ProductosCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Marcas">
      <soap:operation soapAction="http://tempuri.org/IMetodos/Marcas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaId">
      <soap:operation soapAction="http://tempuri.org/IMetodos/BusquedaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IMetodos" binding="tns:BasicHttpBinding_IMetodos">
      <soap:address location="http://localhost:56464/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>