Web_SmartBuy/Web_SmartBuy/Connected Services/Service_Product/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Productos.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Productos.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMarca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marca" nillable="true" type="tns:Marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarca" nillable="true" type="tns:ArrayOfMarca" />
  <xs:complexType name="Marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_MARCA" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_MARCA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
</xs:schema>