Web_SmartBuy/Web_SmartBuy/Connected Services/Service_User/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEDULA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_ELECTRONICO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID_ROL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>