Web_SmartBuy/Web_SmartBuy/Connected Services/Service_User/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59398/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59398/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59398/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Usuario" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMetodos_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IMetodos_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_UpdateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInfo" />
  </wsdl:message>
  <wsdl:message name="IMetodos_UpdateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_StateChange_InputMessage">
    <wsdl:part name="parameters" element="tns:StateChange" />
  </wsdl:message>
  <wsdl:message name="IMetodos_StateChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:StateChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMetodos_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMetodos_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IMetodos_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IMetodos">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/AddClient" message="tns:IMetodos_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/AddClientResponse" message="tns:IMetodos_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/UpdateInfo" message="tns:IMetodos_UpdateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/UpdateInfoResponse" message="tns:IMetodos_UpdateInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StateChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/StateChange" message="tns:IMetodos_StateChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/StateChangeResponse" message="tns:IMetodos_StateChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/Login" message="tns:IMetodos_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/LoginResponse" message="tns:IMetodos_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetodos/ChangePassword" message="tns:IMetodos_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetodos/ChangePasswordResponse" message="tns:IMetodos_ChangePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMetodos" type="tns:IMetodos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IMetodos/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <soap:operation soapAction="http://tempuri.org/IMetodos/UpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateChange">
      <soap:operation soapAction="http://tempuri.org/IMetodos/StateChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMetodos/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IMetodos/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IMetodos" binding="tns:BasicHttpBinding_IMetodos">
      <soap:address location="http://localhost:59398/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>